:root {
    --primary-color: rgb(0, 54, 72);
    --secondary-color: #53c0ff;
    --tertiary-color: #82d1ff;
    --quaternary-color: rgb(255, 233, 107);
}

@font-face {
    font-family: Roboto;
    src:
        url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Mont;
    src: url("./fonts/Montserrat-Regular.ttf");
}

body {
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 255, 222);
    font-family: Roboto;
}

main {
    width: 100%;
    flex-grow: 1;
}

header {
    margin: 0;
    display: flex;
    width: 100%;
    background-color: var(--quaternary-color);
}

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav img {
    margin-left: 20px;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style: none;
}

.nav-elmt {
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}

.nav-elmt a {
    list-style: none;
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
}

.nav-elmt a:hover {
    border-radius: 10px;
    padding: 10px;
    color: var(--quaternary-color);
    transform: scale(1.1);
    background-color: white;
}

h1, h2, h3 {
    font-family: Mont;
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: url("./images/bg.jpg") fixed white;
    padding: 50px 0px;
}

#hero a {
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: all ease 0.5s;
}

#hero a:hover {
    background-color: white;
    color: var(--secondary-color);
    transform: scale(1.1);
}

#hero h1 {
    font-size: 40px;
}

#hero p {
    font-size: 20px;
}

#presentation {
    width: 100%;
    margin: auto;
}

#presentation hr {
    background-color: rgb(255, 255, 255);
    border: 0px;
    width: 100%;
    height: 2px;
}

.quality {
    display: flex;
    padding: 20px;
    color: white;
    gap: 60px;
    height: 300px;
    color: white;
    background-color: var(--quaternary-color);
}

.quality img {
    border-radius: 20px;
}

#section-une {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.a-la-une {
    display: flex;
    flex-direction: column;
    color: rgb(112, 112, 112);
    width: 400px;
    height: 300px;
    margin: 30px;
    background-color: #82d1ff;
    border-radius: 20px;
    padding: 10px;
}

footer {
    background-color: var(--quaternary-color);
    display: flex;
    flex-shrink: 0;
    margin: 0;
}

#footer-links {
    list-style: none;
}

form {
    margin: auto;
}

form span {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input {
    width: 70%;
}

label {
    color: black;
}